In [1]:
import os
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

q_table_path = 'dino-log.csv'
df = pd.read_csv(q_table_path, header=None, names=['time','episode', 'steps_count', 'total_rewards', 'scores', 'epsilon'])
df = df.set_index('episode')

In [2]:
# maximum scores gained in the training process 
df.loc[df['scores'] == max(df['scores'])]

                            time  steps_count  total_rewards  scores  epsilon
episode
1489     2021-01-03 22:32:44,267      5361636          952.1    3028   0.0001

In [13]:
[i for i in range(2001) if i%10==0]

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700,
 710,
 720,
 730,
 740,
 750,
 760,
 770,
 780,
 790,
 800,
 810,
 820,
 830,
 840,
 850,
 860,
 870,
 880,
 890,
 900,
 910,
 920,
 930,
 940,
 950,
 960,
 970,
 980,
 990,
 1000,
 1010,
 1020,
 1030,
 1040,
 1050,
 1060,
 1070,
 1080,
 1090,
 1100,
 1110,
 1120,
 1130,
 1140,
 1150,
 1160,
 1170,
 1180,
 1190,
 1200,
 1210,
 1220,
 1230,
 1240,
 1250,
 1260,
 1270,
 1280,
 1290,
 1300,
 1310,
 1320,
 1330,
 1340,
 1350,
 1360,
 1370,
 1380,
 1390,
 1400,
 1410,
 1420,
 1430,
 1440,
 1450,
 1460,
 1470,
 1480,
 1490,
 1500,
 1510,
 1520,
 1530,
 1540,
 1550,
 1560,
 1570,
 1580,
 1590,
 1600,
 1610,
 1620,
 1630,
 1640,
 1650,
 1660,
 1670,
 1680,
 1690,
 1700,
 1710,
 1720,
 1730,
 1740,
 1750,
 1760,
 1770,
 1780,
 1790,
 1800,
 1810,
 1820,
 1830,
 1840,
 1850,
 1860,
 1870,
 1880,
 1890,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000]

In [ ]:
for index, row in df

In [6]:
df.head(10)

                         episode  steps_count  total_rewards  scores   epsilon
2021-01-02 18:41:14,778        0          220           16.7      47  0.099779
2021-01-02 18:41:20,985        1          494           20.7      57  0.099506
2021-01-02 18:41:27,362        2          781           21.7      59  0.099220
2021-01-02 18:41:32,866        3         1026           18.0      51  0.098976
2021-01-02 18:41:38,368        4         1270           17.4      50  0.098734
2021-01-02 18:41:43,091        5         1481           15.4      42  0.098525
2021-01-02 18:41:47,674        6         1678           13.9      42  0.098331
2021-01-02 18:41:52,209        7         1866           12.8      41  0.098145
2021-01-02 18:41:57,382        8         2083           15.2      47  0.097932
2021-01-02 18:42:02,775        9         2323           18.6      50  0.097696

In [7]:
df.tail(10)

                         episode  steps_count  total_rewards  scores  epsilon
2021-01-04 13:24:10,620     1991      8247088          516.8    1489   0.0001
2021-01-04 13:24:48,391     1992      8248763          162.8     404   0.0001
2021-01-04 13:26:29,542     1993      8253722          484.7    1370   0.0001
2021-01-04 13:28:08,164     1994      8258087          425.9    1325   0.0001
2021-01-04 13:29:51,786     1995      8263552          535.2    1415   0.0001
2021-01-04 13:31:36,145     1996      8268022          437.1    1429   0.0001
2021-01-04 13:32:02,568     1997      8269419          136.1     268   0.0001
2021-01-04 13:33:03,646     1998      8272657          316.7     717   0.0001
2021-01-04 13:35:05,884     1999      8279346          655.7    1509   0.0001
2021-01-04 13:37:02,780     2000      8285798          632.5    1375   0.0001